form {
      margin-top: 5%;
    
}
  
form input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}
form #message {
    height: 150px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}
form button{
    width: 100%;
    height: 50px;

}  