.homeText{
    margin-top: 15%;
    color: white;
}
.homeText2{
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
    color: white;
}
.processInfo, .whatWeDo, .testimonialRecomendations{
    margin: auto;
    padding: 2%;
}
.processInfo .display-6{
    padding: 5%;
}

.whatWeDo .display-5{
    padding-bottom: 5%;
}
.testimonialRecomendations .display-3{
    padding-top: 5%;
}