.carousel-item{
    height: 20rem;
    color: black;
    position: relative;
    text-align: center;

    
}
.carousel .carousel-indicators li {
    background-color: grey;
}
.carousel .carousel-indicators li.active {background-color: black;}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    background-color: black;
}

@media only screen and (max-width: 767px) {
    .carousel-item {
        height: 50rem;
    }
    .d-flex{
        bottom: 165px;
    }
    .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
        background-color: black;
        padding: 50%;
    }
}
    
     